In [14]:
# Road Trip Planner

# Given values
distance = 475
efficiency = 11.5
fuel_price = 1.65
tank_capacity = 50

In [25]:
# a. Calculate total fuel needed
fuel_needed = distance / efficiency
print(f" Fuel needed: {fuel_needed} liters")

 Fuel needed: 41.30434782608695 liters

To find how many liters of fuel needed we have to divide the total distance by car efficiency.

In [33]:
# b. Full tanks required (whole number)
full_tanks = fuel_needed // tank_capacity
print(f" Full tanks needed: {int(full_tanks)}")

 Full tanks needed: 0

// operators gives the whole number times the tank capacity fits into the fuel needed.

In [28]:
# c. Total fuel cost
total_cost = fuel_needed * fuel_price
print(f" Total fuel cost:${total_cost:} ")

 Total fuel cost:$68.15217391304347

Total cost is calculated by multiplying the fuel needed by the price per liter.

In [34]:
# d. Remaining fuel in tank after trip
fuel_remaining = tank_capacity - fuel_needed
print(f" Fuel remaining: {fuel_remaining:} liters")

 Fuel remaining: 8.695652173913047 liters

If you start with a full 50-liter tank and use 41.30 liters,
then the remaining fuel is: full tank - use liters.

In [37]:
# Theme Party Entry Rules

In [42]:
#a. Given
age = 30
is_weekday = True
is_family_day = False
group_size = 3

# Boolean expression for discount eligibility
discount = (age <= 12 and is_weekday) or (age >= 65) or (is_family_day and group_size >= 4)

print("Eligible for discount:", discount)

Eligible for discount: False

In [44]:
#b. Given
age = 10
is_weekday = True
is_family_day = False
group_size = 2

# Same boolean expression
discount = (age <= 12 and is_weekday) or (age >= 65) or (is_family_day and group_size >= 4)

print("Eligible for discount:", discount)

Eligible for discount: True

In [52]:
# c: Explanation of Boolean Expression Evaluation

# Updated values for Part b
age = 10
is_weekday = True
is_family_day = False
group_size = 2

# Boolean expression for discount eligibility
discount = ((age <= 12 and is_weekday) or
                 (age >= 65) or
                 (is_family_day and group_size >= 4))

# Print out the evaluation result
print(f" Result (age=10, weekday=True): {discount}")

 Result (age=10, weekday=True): True

In [53]:
# Message Decoder

# Given
secret_message = "PyThoN_Is_FuN_AnD_PoWeRfUl!"

In [61]:
#a. character at index 5
secret_message = "PyThoN_Is_FuN_AnD_PoWeRfUl!"
char_at_ind_5 = secret_message[5]
print("Character at index 5:", char_at_ind_5)

Character at index 5: N

Python string indexing starts at 0.

Index 5 corresponds to the 6th character.

Counting from 0: P(0), y(1), T(2), h(3), o(4), N(5)

So, the character at index 5 is "N".

In [65]:
#b. Positive indexing and slicing
substring_positive = secret_message[7:13]
print(" substring using positive indexing:", substring_positive)

 substring using positive indexing: Is_FuN

The substring "Is_FuN" starts at index 7 and goes up to index 12. So, secret_message[7:13] extracts characters at indexes 7, 8, 9, 10, 11, and 12.

In [71]:
#c. Negative Indexing and Slicing
substring_negative = secret_message[-9:-1]
print("substring using negative indexing:", substring_negative)

substring using negative indexing: PoWeRfUl

Negative indexing counts from the end starting at -1.Secret_message[-9:-1] slices from the 9th last character up to (but not including) the last character.The last character is '!' at index -1, so it is excluded.

In [72]:
#d. crete a new string
every_4th_char = secret_message[0::4]
print("Every 4th character starting at index 0:", every_4th_char)

Every 4th character starting at index 0: PosNDWU

Here, start=0, step=4 means every 4th character starting at index 0.This extracts characters at indexes 0, 4, 8, 12, 16, 20, 24.

In [92]:
# Predict and Verify

# Given
x = 15
y = 25
z = 15
text = "adventure"

In [94]:
# a. (x == z) and (y > x)
result_a = (x == z) and (y > x)
print("Result of (x == z) and (y > x):", result_a)

Result of (x == z) and (y > x): True

Prediction was correct. Both conditions are True, so the overall result is True.

In [95]:
# b. (x != z) or (y < x) or (len(text) < 5)
result_b = (x != z) or (y < x) or (len(text) < 5)
print("b. (x != z) or (y < x) or (len(text) < 5):", result_b)

b. (x != z) or (y < x) or (len(text) < 5): False

Prediction was correct. None of the conditions are True, so the entire OR expression is False.

In [96]:
# c. not ((x > y) and (text == "Adventure"))
result_c = not ((x > y) and (text == "Adventure"))
print('c. not ((x > y) and (text == "Adventure")):', result_c)  # Expected: True

c. not ((x > y) and (text == "Adventure")): True

Prediction was correct. Even though both inner conditions are False, not(not False) makes it, resulting in True.

In [99]:
#User Profile Setup

In [113]:
username = "MyUser123"
try:
    username[0] = 'm'
except TypeError as e:
    print(" Error when modifying string:", e)

 Error when modifying string: 'str' object does not support item assignment

In strings, character cannot be changed once a string is created. You have to create a new string if you want to modify it.

In [109]:
# b. Transform the quote step by step
quote = " practice makes perfect "

# 1: Remove whitespace
quote = quote.strip()

# 2: Convert to uppercase
quote = quote.upper()

# 3: Replace "PERFECT" with "PROGRESS"
formatted_quote = quote.replace("PERFECT", "PROGRESS")

print(" Formatted quote:", formatted_quote)

 Formatted quote: PRACTICE MAKES PROGRESS

.strip() - Removes whitespace from the start and end of the string.

.upper() - Converts all characters to uppercase.

.replace("PERFECT", "PROGRESS") - Replaces a substring with another.

In [110]:
# c. Lengths of original and formatted quote
original_quote = " practice makes perfect "
original_length = len(original_quote)
formatted_length = len(formatted_quote)

print(" Original length:", original_length)
print(" Formatted length:", formatted_length)

 Original length: 24
 Formatted length: 23

len() returns the number of characters including spaces.The original quote had extra spaces; after stripping and replacing, the total character count changed slightly.